@import "reset";
@import "vars";
@import "font-awesome";
@import "colors";

.gridster {
  display: inline-block;
  margin-left: 100px;
  width: auto;

  ul {
    list-style: none;
  }
}

header {
  background-color: @background-header;
  margin-bottom: 50px;

  h1 {
    font-size: 40pt;
    padding: 20px;
    color: @white;
  }
}

body {
  background-color: @background;
  width: 10000px;
/*overflow: hidden;*/
}